<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.healthcare_app">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Healthcare App"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light">
        <activity
            android:name=".Community"
            android:parentActivityName=".menu"
            android:exported="false" />
        <activity
            android:name=".editProfile"
            android:parentActivityName=".profile" />
        <activity android:name=".points" />
        <activity android:name=".updateTip" />
        <activity android:name=".commentPage"/>
        <activity android:name=".addTip" />
        <activity android:name=".adminMenu" />
        <activity android:name=".menu" />
        <activity android:name=".signup" />
        <activity
            android:name=".profile"
            android:parentActivityName=".menu" />
        <activity
            android:name=".userTip"
            android:parentActivityName=".menu" />
        <activity
            android:name=".tip"
            android:parentActivityName=".adminMenu" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>